USE [BackOffice]
GO
/****** Object:  Schema [DevAdmin]    Script Date: 12/7/2021 13:01:41 ******/
CREATE SCHEMA [DevAdmin]
GO
/****** Object:  Table [DevAdmin].[ApplyContacted]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[ApplyContacted](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](500) NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[Curse]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[Curse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[TechnologyId] [int] NOT NULL,
	[ContentsTeached] [varchar](2500) NOT NULL,
	[Descripcion] [varchar](2500) NOT NULL,
	[Requeriments] [varchar](2500) NOT NULL,
	[LinkPhoto] [varchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[CurseFee]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[CurseFee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurseId] [int] NOT NULL,
	[Amount] [numeric](18, 2) NOT NULL,
	[active] [bit] NULL,
	[feeNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[CurseItem]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[CurseItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurseId] [int] NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateFinish] [datetime] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[studentsCapacity] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateCreate] [int] NOT NULL,
	[stateId] [int] NOT NULL,
	[DateState] [datetime] NOT NULL,
	[ItemDays] [varchar](2500) NOT NULL,
	[Price] [numeric](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[CurseItemState]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[CurseItemState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[CurseItemStudent]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[CurseItemStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CurseItemId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateCreate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[Person]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](200) NOT NULL,
	[LastName] [varchar](200) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Dni] [varchar](50) NOT NULL,
	[Telephone] [varchar](150) NULL,
	[LinkPhoto] [varchar](max) NULL,
	[Observations] [varchar](5000) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK__Person__3214EC0783A438B4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[province]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[province](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](150) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[Student]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[StudentCalendar]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[StudentCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurseItemId] [int] NOT NULL,
	[StudentId] [int] NULL,
	[DateHourStart] [datetime] NOT NULL,
	[DateHourEnd] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[countCalendars] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[Teacher]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Linkedin] [varchar](500) NULL,
	[Active] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[TeacherCalendar]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[TeacherCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurseItemId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[DateHourStart] [datetime] NOT NULL,
	[DateHourEnd] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[countCalendars] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[TeacherTechnologies]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[TeacherTechnologies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[TechnologyId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[Technology]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[Technology](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DevAdmin].[User]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DevAdmin].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](200) NOT NULL,
	[LastName] [varchar](200) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [DevAdmin].[ApplyContacted] ON 

INSERT [DevAdmin].[ApplyContacted] ([Id], [Description], [Active]) VALUES (1, N'Email', 1)
INSERT [DevAdmin].[ApplyContacted] ([Id], [Description], [Active]) VALUES (2, N'Facebook', 1)
INSERT [DevAdmin].[ApplyContacted] ([Id], [Description], [Active]) VALUES (3, N'Instagram', 1)
SET IDENTITY_INSERT [DevAdmin].[ApplyContacted] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[Curse] ON 

SET IDENTITY_INSERT [DevAdmin].[Curse] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[CurseItem] ON 

INSERT [DevAdmin].[CurseItem] ([Id], [CurseId], [DateStart], [DateFinish], [TeacherId], [studentsCapacity], [UserId], [DateCreate], [stateId], [DateState], [ItemDays], [Price]) VALUES (1, 1, CAST(N'2021-06-01T08:00:00.000' AS DateTime), CAST(N'2021-07-29T10:00:00.000' AS DateTime), 1, 12, 1, 1, 4, CAST(N'2021-06-22T13:35:44.677' AS DateTime), N'2-4', CAST(40000.00 AS Numeric(8, 2)))
INSERT [DevAdmin].[CurseItem] ([Id], [CurseId], [DateStart], [DateFinish], [TeacherId], [studentsCapacity], [UserId], [DateCreate], [stateId], [DateState], [ItemDays], [Price]) VALUES (2, 2, CAST(N'2021-08-01T08:00:00.000' AS DateTime), CAST(N'2021-09-22T10:30:00.000' AS DateTime), 2, 12, 1, 1, 5, CAST(N'2021-06-19T18:09:14.433' AS DateTime), N'2-4', CAST(40000.00 AS Numeric(8, 2)))
INSERT [DevAdmin].[CurseItem] ([Id], [CurseId], [DateStart], [DateFinish], [TeacherId], [studentsCapacity], [UserId], [DateCreate], [stateId], [DateState], [ItemDays], [Price]) VALUES (3, 3, CAST(N'2021-08-02T20:00:00.000' AS DateTime), CAST(N'2021-09-30T22:00:00.000' AS DateTime), 1, 15, 1, 1, 6, CAST(N'2021-06-22T13:34:43.083' AS DateTime), N'1-4', CAST(40000.00 AS Numeric(8, 2)))
SET IDENTITY_INSERT [DevAdmin].[CurseItem] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[CurseItemState] ON 

INSERT [DevAdmin].[CurseItemState] ([Id], [Name], [active]) VALUES (1, N'Abierto', 1)
INSERT [DevAdmin].[CurseItemState] ([Id], [Name], [active]) VALUES (2, N'Sin Vacantes', 1)
INSERT [DevAdmin].[CurseItemState] ([Id], [Name], [active]) VALUES (3, N'Finalizado', 1)
SET IDENTITY_INSERT [DevAdmin].[CurseItemState] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[CurseItemStudent] ON 

INSERT [DevAdmin].[CurseItemStudent] ([Id], [StudentId], [CurseItemId], [UserId], [DateCreate]) VALUES (6, 1, 1, 1, CAST(N'2021-06-22T13:35:38.627' AS DateTime))
INSERT [DevAdmin].[CurseItemStudent] ([Id], [StudentId], [CurseItemId], [UserId], [DateCreate]) VALUES (7, 2, 1, 1, CAST(N'2021-06-22T13:35:38.807' AS DateTime))
SET IDENTITY_INSERT [DevAdmin].[CurseItemStudent] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[Person] ON 

INSERT [DevAdmin].[Person] ([Id], [FirstName], [LastName], [Email], [Dni], [Telephone], [LinkPhoto], [Observations], [UserId]) VALUES (2, N'Pablo ed', N'Besteiro ed', N'pablobesteiro@gmail.com', N'31234350 edd', N'1553432791 ed', N'', N'sadfsafdas', 0)
SET IDENTITY_INSERT [DevAdmin].[Person] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[province] ON 

INSERT [DevAdmin].[province] ([Id], [Description], [Active]) VALUES (1, N'Buenos Aires', 1)
INSERT [DevAdmin].[province] ([Id], [Description], [Active]) VALUES (2, N'Buenos Aires-GBA', 1)
INSERT [DevAdmin].[province] ([Id], [Description], [Active]) VALUES (3, N'Capital Federal', 1)
SET IDENTITY_INSERT [DevAdmin].[province] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[Student] ON 

INSERT [DevAdmin].[Student] ([Id], [PersonId], [Active], [UserId]) VALUES (1, 3, 1, 1)
INSERT [DevAdmin].[Student] ([Id], [PersonId], [Active], [UserId]) VALUES (2, 4, 1, 1)
SET IDENTITY_INSERT [DevAdmin].[Student] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[StudentCalendar] ON 

INSERT [DevAdmin].[StudentCalendar] ([Id], [CurseItemId], [StudentId], [DateHourStart], [DateHourEnd], [UserId], [countCalendars]) VALUES (90, 1, 1, CAST(N'2021-06-01T08:00:00.000' AS DateTime), CAST(N'2021-06-01T10:00:00.000' AS DateTime), 1, 1)
INSERT [DevAdmin].[StudentCalendar] ([Id], [CurseItemId], [StudentId], [DateHourStart], [DateHourEnd], [UserId], [countCalendars]) VALUES (91, 1, 1, CAST(N'2021-06-03T08:00:00.000' AS DateTime), CAST(N'2021-06-03T10:00:00.000' AS DateTime), 1, 2)
INSERT [DevAdmin].[StudentCalendar] ([Id], [CurseItemId], [StudentId], [DateHourStart], [DateHourEnd], [UserId], [countCalendars]) VALUES (92, 1, 1, CAST(N'2021-06-08T08:00:00.000' AS DateTime), CAST(N'2021-06-08T10:00:00.000' AS DateTime), 1, 3)
SET IDENTITY_INSERT [DevAdmin].[StudentCalendar] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[Teacher] ON 

INSERT [DevAdmin].[Teacher] ([Id], [PersonId], [Linkedin], [Active], [UserId]) VALUES (1, 9, N'https://www.linkedin.com/in/pablo-besteiro-460a4870/', 1, 1)
INSERT [DevAdmin].[Teacher] ([Id], [PersonId], [Linkedin], [Active], [UserId]) VALUES (2, 7, N'', 1, 1)
INSERT [DevAdmin].[Teacher] ([Id], [PersonId], [Linkedin], [Active], [UserId]) VALUES (3, 8, N'', 1, 1)
SET IDENTITY_INSERT [DevAdmin].[Teacher] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[TeacherCalendar] ON 

INSERT [DevAdmin].[TeacherCalendar] ([Id], [CurseItemId], [TeacherId], [DateHourStart], [DateHourEnd], [UserId], [countCalendars]) VALUES (87, 2, 2, CAST(N'2021-08-03T08:00:00.000' AS DateTime), CAST(N'2021-08-03T10:30:00.000' AS DateTime), 1, 1)
INSERT [DevAdmin].[TeacherCalendar] ([Id], [CurseItemId], [TeacherId], [DateHourStart], [DateHourEnd], [UserId], [countCalendars]) VALUES (88, 2, 2, CAST(N'2021-08-05T08:00:00.000' AS DateTime), CAST(N'2021-08-05T10:30:00.000' AS DateTime), 1, 2)
INSERT [DevAdmin].[TeacherCalendar] ([Id], [CurseItemId], [TeacherId], [DateHourStart], [DateHourEnd], [UserId], [countCalendars]) VALUES (89, 2, 2, CAST(N'2021-08-10T08:00:00.000' AS DateTime), CAST(N'2021-08-10T10:30:00.000' AS DateTime), 1, 3)
SET IDENTITY_INSERT [DevAdmin].[TeacherCalendar] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[TeacherTechnologies] ON 

INSERT [DevAdmin].[TeacherTechnologies] ([Id], [TeacherId], [TechnologyId], [UserId]) VALUES (13, 2, 2, 1)
INSERT [DevAdmin].[TeacherTechnologies] ([Id], [TeacherId], [TechnologyId], [UserId]) VALUES (14, 2, 3, 1)
INSERT [DevAdmin].[TeacherTechnologies] ([Id], [TeacherId], [TechnologyId], [UserId]) VALUES (15, 3, 3, 1)
SET IDENTITY_INSERT [DevAdmin].[TeacherTechnologies] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[Technology] ON 

INSERT [DevAdmin].[Technology] ([Id], [Name], [Active], [UserId]) VALUES (1, N'C#', 1, 1)
INSERT [DevAdmin].[Technology] ([Id], [Name], [Active], [UserId]) VALUES (2, N'JAVA', 1, 1)
INSERT [DevAdmin].[Technology] ([Id], [Name], [Active], [UserId]) VALUES (3, N'JAVASCRIPT', 1, 1)
SET IDENTITY_INSERT [DevAdmin].[Technology] OFF
GO
SET IDENTITY_INSERT [DevAdmin].[User] ON 

INSERT [DevAdmin].[User] ([Id], [FirstName], [LastName], [Email], [Password], [Active]) VALUES (1, N'Pablo', N'Besteiro', N'pablobesteiro@gmail.com', N'MQAyADMANAA1ADYA', 1)
SET IDENTITY_INSERT [DevAdmin].[User] OFF
GO
ALTER TABLE [DevAdmin].[CurseFee] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [DevAdmin].[CurseFee] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [DevAdmin].[CurseFee] ADD  DEFAULT ((0)) FOR [feeNumber]
GO
ALTER TABLE [DevAdmin].[Curse]  WITH CHECK ADD  CONSTRAINT [FK_Curse_Technologies] FOREIGN KEY([TechnologyId])
REFERENCES [DevAdmin].[Technology] ([Id])
GO
ALTER TABLE [DevAdmin].[Curse] CHECK CONSTRAINT [FK_Curse_Technologies]
GO
ALTER TABLE [DevAdmin].[Curse]  WITH CHECK ADD  CONSTRAINT [FK_Curse_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[Curse] CHECK CONSTRAINT [FK_Curse_User]
GO
ALTER TABLE [DevAdmin].[CurseFee]  WITH CHECK ADD  CONSTRAINT [FK_CurseFee_Curse] FOREIGN KEY([CurseId])
REFERENCES [DevAdmin].[Curse] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseFee] CHECK CONSTRAINT [FK_CurseFee_Curse]
GO
ALTER TABLE [DevAdmin].[CurseItem]  WITH CHECK ADD  CONSTRAINT [FK_CurseItem_CurseItemState] FOREIGN KEY([stateId])
REFERENCES [DevAdmin].[CurseItemState] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseItem] CHECK CONSTRAINT [FK_CurseItem_CurseItemState]
GO
ALTER TABLE [DevAdmin].[CurseItem]  WITH CHECK ADD  CONSTRAINT [FK_CurseItem_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [DevAdmin].[Teacher] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseItem] CHECK CONSTRAINT [FK_CurseItem_Teacher]
GO
ALTER TABLE [DevAdmin].[CurseItem]  WITH CHECK ADD  CONSTRAINT [FK_CurseItem_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseItem] CHECK CONSTRAINT [FK_CurseItem_User]
GO
ALTER TABLE [DevAdmin].[CurseItemStudent]  WITH CHECK ADD  CONSTRAINT [FK_CurseItem_CurseItem] FOREIGN KEY([CurseItemId])
REFERENCES [DevAdmin].[CurseItem] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseItemStudent] CHECK CONSTRAINT [FK_CurseItem_CurseItem]
GO
ALTER TABLE [DevAdmin].[CurseItemStudent]  WITH CHECK ADD  CONSTRAINT [FK_CurseItem_Student] FOREIGN KEY([StudentId])
REFERENCES [DevAdmin].[Student] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseItemStudent] CHECK CONSTRAINT [FK_CurseItem_Student]
GO
ALTER TABLE [DevAdmin].[CurseItemStudent]  WITH CHECK ADD  CONSTRAINT [FK_CurseItemStudent_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[CurseItemStudent] CHECK CONSTRAINT [FK_CurseItemStudent_User]
GO
ALTER TABLE [DevAdmin].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Person] FOREIGN KEY([PersonId])
REFERENCES [DevAdmin].[Person] ([Id])
GO
ALTER TABLE [DevAdmin].[Student] CHECK CONSTRAINT [FK_Student_Person]
GO
ALTER TABLE [DevAdmin].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [DevAdmin].[StudentCalendar]  WITH CHECK ADD  CONSTRAINT [FK_StudentCalendar_CurseItem] FOREIGN KEY([CurseItemId])
REFERENCES [DevAdmin].[CurseItem] ([Id])
GO
ALTER TABLE [DevAdmin].[StudentCalendar] CHECK CONSTRAINT [FK_StudentCalendar_CurseItem]
GO
ALTER TABLE [DevAdmin].[StudentCalendar]  WITH CHECK ADD  CONSTRAINT [FK_StudentCalendar_Teacher] FOREIGN KEY([StudentId])
REFERENCES [DevAdmin].[Student] ([Id])
GO
ALTER TABLE [DevAdmin].[StudentCalendar] CHECK CONSTRAINT [FK_StudentCalendar_Teacher]
GO
ALTER TABLE [DevAdmin].[StudentCalendar]  WITH CHECK ADD  CONSTRAINT [FK_StudentCalendar_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[StudentCalendar] CHECK CONSTRAINT [FK_StudentCalendar_User]
GO
ALTER TABLE [DevAdmin].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Person] FOREIGN KEY([PersonId])
REFERENCES [DevAdmin].[Person] ([Id])
GO
ALTER TABLE [DevAdmin].[Teacher] CHECK CONSTRAINT [FK_Teacher_Person]
GO
ALTER TABLE [DevAdmin].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[Teacher] CHECK CONSTRAINT [FK_Teacher_User]
GO
ALTER TABLE [DevAdmin].[TeacherCalendar]  WITH CHECK ADD  CONSTRAINT [FK_TeacherCalendar_CurseItem] FOREIGN KEY([CurseItemId])
REFERENCES [DevAdmin].[CurseItem] ([Id])
GO
ALTER TABLE [DevAdmin].[TeacherCalendar] CHECK CONSTRAINT [FK_TeacherCalendar_CurseItem]
GO
ALTER TABLE [DevAdmin].[TeacherCalendar]  WITH CHECK ADD  CONSTRAINT [FK_TeacherCalendar_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [DevAdmin].[Teacher] ([Id])
GO
ALTER TABLE [DevAdmin].[TeacherCalendar] CHECK CONSTRAINT [FK_TeacherCalendar_Teacher]
GO
ALTER TABLE [DevAdmin].[TeacherCalendar]  WITH CHECK ADD  CONSTRAINT [FK_TeacherCalendar_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[TeacherCalendar] CHECK CONSTRAINT [FK_TeacherCalendar_User]
GO
ALTER TABLE [DevAdmin].[TeacherTechnologies]  WITH CHECK ADD  CONSTRAINT [FK_TeacherTechnologies_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [DevAdmin].[Teacher] ([Id])
GO
ALTER TABLE [DevAdmin].[TeacherTechnologies] CHECK CONSTRAINT [FK_TeacherTechnologies_Teacher]
GO
ALTER TABLE [DevAdmin].[TeacherTechnologies]  WITH CHECK ADD  CONSTRAINT [FK_TeacherTechnologies_Technologies] FOREIGN KEY([TechnologyId])
REFERENCES [DevAdmin].[Technology] ([Id])
GO
ALTER TABLE [DevAdmin].[TeacherTechnologies] CHECK CONSTRAINT [FK_TeacherTechnologies_Technologies]
GO
ALTER TABLE [DevAdmin].[TeacherTechnologies]  WITH CHECK ADD  CONSTRAINT [FK_TeacherTechnologies_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[TeacherTechnologies] CHECK CONSTRAINT [FK_TeacherTechnologies_User]
GO
ALTER TABLE [DevAdmin].[Technology]  WITH CHECK ADD  CONSTRAINT [FK_Technology_User] FOREIGN KEY([UserId])
REFERENCES [DevAdmin].[User] ([Id])
GO
ALTER TABLE [DevAdmin].[Technology] CHECK CONSTRAINT [FK_Technology_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_formas_contacto]    Script Date: 12/7/2021 13:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_crear_formas_contacto]

as

select * from ApplyContacted

/*
create table ApplyContacted
(
	Id int primary key identity(1,1),
	Description varchar(500),
	Active int
)

INSERT INTO ApplyContacted VALUES
('Email',1),
('Facebook',1),
('Instagram',1),
('Linkedin',1),
('amigos',1),
('Otro',1)

*/
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_provicnias]    Script Date: 12/7/2021 13:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_crear_provicnias]

as

select * from Curse

/*
create table province
(
	Id int primary key not null identity(1,1),
	Description varchar(150),
	Active bit
)


INSERT INTO province VALUES
('Buenos Aires',1),
('Buenos Aires-GBA',1),
('Capital Federal',1),
('Catamarca',1),
('Chaco',1),
('Chubut',1),
('Córdoba',1),
('Corrientes',1),
('Entre Ríos',1),
('Formosa',1),
('Jujuy',1),
('La Pampa',1),
('La Rioja',1),
('Mendoza',1),
('Misiones',1),
('Neuquén',1),
('Río Negro',1),
('Salta',1),
('San Juan',1),
('San Luis',1),
('Santa Cruz',1),
('Santa Fe',1),
('Santiago del Estero',1),
('Tierra del Fuego',1),
('Tucumán',1)
*/
GO
/****** Object:  StoredProcedure [dbo].[sp_get_conected_by]    Script Date: 12/7/2021 13:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_conected_by]
as

select id, Description
from ApplyContacted 
where active=1
GO
/****** Object:  StoredProcedure [dbo].[sp_get_curse_item]    Script Date: 12/7/2021 13:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_get_curse_item]
@curseItemId int
as

select ci.Id,
ci.ItemDays,
ci.DateStart,
ci.DateFinish,
isnull(p.FirstName,'') + ' ' +isnull(p.LastName,'') teacherName,
isnull(p.LinkPhoto,'') LinkPhoto,
isnull(t.Linkedin,'') Linkedin,
c.TechnologyId,
tech.Name technology
from curse c
inner join CurseItem ci on ci.CurseId=c.id 
inner join Technology tech on tech.id=c.TechnologyId
left join Teacher t on t.id=ci.TeacherId
left join Person p on p.Id = t.PersonId
where ci.Id=@curseItemId


--sp_get_curse_item 2
  
GO
/****** Object:  StoredProcedure [dbo].[sp_get_curses_items]    Script Date: 12/7/2021 13:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_get_curses_items]
@technolohyId int
as

select ci.Id,ci.ItemDays,ci.DateStart,ci.DateFinish,
isnull(p.FirstName,'') + ' ' +isnull(p.LastName,'') teacherName,
isnull(p.LinkPhoto,'') LinkPhoto,
isnull(t.Linkedin,'') Linkedin,
c.TechnologyId
from curse c
inner join CurseItem ci on ci.CurseId=c.id 
left join Teacher t on t.id=ci.TeacherId
left join Person p on p.Id = t.PersonId
where c.TechnologyId=@technolohyId
GO
/****** Object:  StoredProcedure [dbo].[sp_get_provinces]    Script Date: 12/7/2021 13:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_provinces]
as

select id, Description
from province 
where active=1


--sp_get_curse_item 2
  
GO
